<div class="col-md-3">
  <div class="genre-index">
    <div class="index-title">
      <p>ジャンル検索</p>
    </div>
    <% genres.each do |genre| %>
      <%= link_to items_path do %>
        <p><%= genre.name %></p>
      <% end %>
    <% end %>
  </div>
</div>