/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

/*top page*/

.genre-index {
  border: solid 1px #000;
  margin-top: 50px;
  padding-bottom: 50px;
}

.genre-index > .index-title {
  text-align: center;
  froat: center;
  border-bottom: solid 1px #000;
  margin-top: 10px;
  font-weight: bold;
  font-size: 12px;
}

.genre-index > p {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 12px;
}

.introduction {
  border: solid 1px #000;
  margin-top: 50px;
  font-size: 15px;
}

.introduction > p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.items {
  margin-top: 10px;
}

.new-items {
  display: flex;
}

/*items-index*/

.items-index {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
}

.items-box {
  margin-top: 50px;
}

/*item-show*/

.item {
  margin-top: 20px;
}

/*cart_item-index*/

.cart-item-index {
  margin-top: 50px;
}

.cart-item-title {
  display: flex;
}

.all-destroy {
  margin: 0 0 0 auto;
}

/*customers-show*/

.mypage {
  margin-top: 50px;
}

.mypage-link {
  padding-top: 20px;
}

.title {
  font-weight: bold;
  background-color: grey;
  margin-bottom: 20px;
}

.title > p {
  background-color: grey;
}

.sub-title {
  padding-bottom: 10px;
  font-weight: bold;
}

.mypage-link {
  font-weight: bold;
}

/*customers-unsubscribe*/

.customer-unsubscribe {
  margin: 50px auto;
  text-align: center;
}

.unsubscribe-title {
  font-weight: bold;
}

/*orders-new*/

.orders-new {
  margin-top: 50px;
}

.orders-form {
  display: inline-block;
  margin-right: auto;
}

/*orders-confirm*/

.orders-confirm {
  margin-top: 50px;
}

/*admin*/
/*admin-signin*/

.admin-sign-in {
  padding-top: 50px;
}

/*admin-homes-top*/

.orders-index {
  padding-top: 50px;
}