/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


.signed-in-message {
  color: white;
  margin-right: 50px;
  margin-top: 10px;
}

/*top page*/

.genre-index {
  border: solid 1px #000;
  margin-top: 50px;
  padding-bottom: 50px;
}

.genre-index > .index-title {
  text-align: center;
  froat: center;
  border-bottom: solid 1px #000;
  margin-top: 10px;
  font-weight: bold;
  font-size: 12px;
}

.genre-index > p {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 12px;
}

.introduction {
  border: solid 1px #000;
  margin-top: 50px;
  font-size: 15px;
}

.introduction > p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.items {
  margin-top: 10px;
}

.items > h4 {
  font-weight: bold;
}

.new-items {
  display: flex;
}

.new-items > div {
  width: 25%;
}

.all-items-link {
  float: right;
}

/*About*/

.About {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
}
/*customer-sign-up*/

.actions {
  padding-bottom: 10px;
}

.customer-sign-up {
  margin-top: 50px;
}
/*items-index*/

.items-index {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
}

.items-index > div {
  width: 25%;
}

.items-box {
  margin-top: 50px;
}

/*item-show*/

.item {
  margin-top: 20px;
}

/*cart_item-index*/

.cart-item-index {
  margin-top: 50px;
}

.cart-item-title {
  display: flex;
}

.all-destroy {
  margin: 0 0 0 auto;
}

/*customers-show*/

.mypage {
  margin-top: 50px;
}

.mypage-link {
  padding-top: 20px;
}

.title {
  font-weight: bold;
  margin-bottom: 20px;
}

.title > p {
  background-color: rgba(0,0,0,0.25);
}

.sub-title {
  padding-bottom: 10px;
  font-weight: bold;
}

.mypage-link {
  font-weight: bold;
}

/*customers-unsubscribe*/

.customer-unsubscribe {
  margin: 50px auto;
  text-align: center;
}

.unsubscribe-title {
  font-weight: bold;
}

/*customer-complete*/

.complete {
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
/*orders-new*/

.orders-new {
  margin-top: 50px;
}

.orders-form {
  display: inline-block;
  margin-right: auto;
}

/*orders-confirm*/

.orders-confirm {
  margin-top: 50px;
}

/*orders-show*/

.orders-show {
  margin-top: 50px;
}

.orders-show-subtitle {
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 5px;
}

.table-orders-info {
  display: flex;
}

.table-orders-1 {
  padding-right: 10px;
}

/*address-index*/

.addresses-index {
  padding-top: 50px;
}

.address-create {
  margin-bottom: 20px;
}

.address-new {
  float: right;
}

/*address-edit*/

.address-edit {
  padding-top: 50px;
}

.address-edit-submit {
  float: right;
}

/*admin*/
/*admin-sign-in*/

.admin-sign-in {
  padding-top: 50px;
}

.sign-in-form {
  display: flex;
  padding-top: 20px;
}

.label {
  float: right;
}

.actions {
  padding-top: 20px;
}
/*admin-homes-top*/

.orders-index {
  padding-top: 50px;
}

/*admin-item-index*/

.admin-items-index {
  padding-top: 50px;
}

/*admin-item-new*/

.admin-item-new {
  padding-top: 50px;
}

.actions {
  padding-top: 20px;
  margin-left: 180px;
}

/*admin-item-show*/

.admin-item-show {
  padding-top: 50px;
}

.admin-item-show-contents {
  display: flex;
}

.link {
  padding-top: 20px;
}

/*admin-item-edit*/

.admin-item-edit {
  padding-top: 50px;
}

/*admin-genres-index*/

.admin-genres-index {
  padding-top: 50px;
}

.create-genre {
  padding-bottom: 30px;
  font-weight: bold;
}

/*admin-genre-edit*/

.admin-genre-edit {
  padding-top: 50px;
}

.admin-genre-edit-form {
  padding-top: 50px;
  font-weight: bold;
}

/*admin-customers-index*/

.admin-customers-index {
  padding-top: 50px;
}

/*admin-customer-show*/

.admin-customer-show {
  padding-top: 50px;
}

.links {
  padding-top: 20px;
}